<style>
    body {
        white-space: break-spaces;
        font-family: monospace;
        line-height: 16px;
    }
    /* Selecting text after colon and applying bold effect */
    ::after {
        font-weight: bold;
        display: inline;
    }
    .raw_data {
        background-color: #f0f0f0;
        padding: 10px;
        border-radius: 5px;
        font-size: 11px;
        font-family: monospace;
    }
</style>

<?php 

error_reporting(E_ALL);
ini_set('display_errors', '1');

require '../../../../vendor/autoload.php';

use Omnipay\Omnipay;

$gateway = Omnipay::create('PaycellSDK');
$gateway->setPrefix(666);
$gateway->setApplicationName('PAYCELLTEST');
$gateway->setApplicationPwd('PaycellTestPassword');
$gateway->setSecureCode('PAYCELL12345');
$gateway->setEulaID(17);
$gateway->setMerchantCode(9998);

$gateway->setTerminalCode('XXXXXXXXX');

$gateway->setTestMode(true);

# https://paycell.com.tr/test-kredi-kartlari
# Akbank 3D pass: a